.tableStyle{
    border: 2px solid #ccc;
    border-radius: 6px;
    margin: 0 auto;
    border-collapse: collapse;

    .tableHeaderStyle{
        background-color: cornflowerblue;
        border: 2px solid #000;
    }

    .tableDataStyle{
        text-align: left;
        border: 2px solid #a3a3a3;
    }

    .tableLineStyle:hover{
        background-color: bisque;
        cursor: pointer;
    }

    .tableDataButtonStyle{
        display: flex;
        justify-content: center;
        gap: 10px;
        text-align: left;
        border: 1px solid #a3a3a3;
    }
}