.centralizar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 140px);

    & .titulo {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 32px;
        margin: 1rem 0;
    }

    & .form {
        display: flex;
        flex-direction: column;

        & .fieldset {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            width: 100%;
            padding: 2rem 3rem;

            & .legend{
                text-align: center;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                font-size: 18px;
                font-weight: 500;
            }

            & .img{
                border-radius: 8px;
                max-height: 300px;
            }
            & .divInputs {
                display: flex;
                flex-direction: column;

                & .label {
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    margin: 0.3rem 0;
                }

                & .input {
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    padding: 0.2rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: 16px;
                    max-width: 290px;
                    min-width: 290px;
                }
            }

            & .button{
                margin: 1rem 0 0 0;
                padding: 12px 32px;
                border-radius: 5px;
                background-color: #000;
                border: 1px solid #fff;
                color: #fff;
                cursor: pointer;

                &:hover{
                    background-color: #fff;
                    color: #000;
                    border: 1px solid #000;
                    border-radius: 6px;
                }
            }
        }
    }


}